body
  margin: 5% auto
  background-color: #f2f2f2
  color: #444444
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 16px
  line-height: 1.8
  text-shadow: 0 1px 0 #ffffff
  max-width: 75%

  & ::selection
    background-color: #dddddd
    text-shadow: none

code
  background-color: #ffffff

  &::selection
    background-color: #ededed

a
  border-bottom: 1px solid #444444
  color: #444444
  text-decoration: none
  &:hover
    border-bottom: 0