doctype html
block page_meta
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content=page_description)
    meta(name="keywords", content=page_keywords)
    meta(name="author", content=page_author)
    title #{page_title}
    link(rel="stylesheet", href="styles/min.css")
  body
    main
      block page_body

      script(src="scripts/min.js", defer)