extends /_boilerplate.pug

block page_meta
  - var page_title = "Page Title"
  - var page_description = "This is a page description."
  - var page_keywords = "page, key, word"
  - var page_author = "Author"

block page_body
  main
    h1
      | Illud urgueam, non intellegere eum quid sibi dicendum sit, cum dolorem summum malum esse dixerit.
    p
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Expectoque quid ad id, quod quaerebam, respondeas. 
      code Ad eos igitur converte te, quaeso.
      |  Summum ením bonum exposuit vacuitatem doloris; 
      a(href='http://loripsum.net/', target='_blank') Est enim effectrix multarum et magnarum voluptatum.
      code Sit enim idem caecus, debilis.
      |  Duo Reges: constructio interrete.
    pre.
      Teneamus enim illud necesse est, cum consequens aliquod
      falsum sit, illud, cuius id consequens sit, non posse esse
      verum.
      Quare obscurentur etiam haec, quae secundum naturam esse
      dicimus, in vita beata;
    h2 Tibi hoc incredibile, quod beatissimum
    dl
      dt
        dfn Restatis igitur vos;
      dd Non risu potius quam oratione eiciendum?
      dt
        dfn Refert tamen, quo modo.
      dd Et non ex maxima parte de tota iudicabis?
      dt
        dfn Ita prorsus, inquam;
      dd Bestiarum vero nullum iudicium puto.
      dt
        dfn Idemne, quod iucunde?
      dd Et quidem, inquit, vehementer errat;
    p
      | Ita est quoddam commune officium sapientis et insipientis, ex quo efficitur versari in iis, quae media dicamus. Aliis esse maiora, illud dubium, ad id, quod summum bonum dicitis, ecquaenam possit fieri accessio. Quis non odit sordidos, vanos, leves, futtiles? 
      code Cur deinde Metrodori liberos commendas?
      |  Teneo, inquit, finem illi videri nihil dolere.
    h3 Cur haec eadem Democritus?
    blockquote(cite='http://loripsum.net')
      | "Bene facis, inquit, quod me adiuvas, et istis quidem, quae modo dixisti, utar potius Latinis, in ceteris subvenies, si me haerentem videbis."
    p
      | Ergo id est convenienter naturae vivere, a natura discedere. Piso igitur hoc modo, vir optimus tuique, ut scis, amantissimus. Quasi ego id curem, quid ille aiat aut neget. Idem iste, inquam, de voluptate quid sentit? Quamquam tu hanc copiosiorem etiam soles dicere. Sed potestne rerum maior esse dissensio? Aliter enim nosmet ipsos nosse non possumus. 
      code Istam voluptatem perpetuam quis potest praestare sapienti?
    p
      mark Quid ait Aristoteles reliquique Platonis alumni?
      |  Qui si omnes veri erunt, ut Epicuri ratio docet, tum denique poterit aliquid cognosci et percipi. Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
    h2 Quae quidem vel cum periculo est quaerenda vobis;
    p
      | In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt. Huius ego nunc auctoritatem sequens idem faciam. Moriatur, inquit. Venit enim mihi Platonis in mentem, quem accepimus primum hic disputare solitum; Aliter homines, aliter philosophos loqui putas oportere? Quae cum magnifice primo dici viderentur, considerata minus probabantur. 
      i Dic in quovis conventu te omnia facere, ne doleas.
      |  Quod mihi quidem visus est, cum sciret, velle tamen confitentem audire Torquatum.
    ol
      li Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
      li Quod totum contra est.
      li
        | Atqui, inquit, si Stoicis concedis ut virtus sola, si adsit vitam efficiat beatam, concedis etiam Peripateticis.
      li
        | Quae fere omnia appellantur uno ingenii nomine, easque virtutes qui habent, ingeniosi vocantur.
      li Egone non intellego, quid sit don Graece, Latine voluptas?
      li Quae contraria sunt his, malane?
    p
      | Ergo, si semel tristior effectus est, hilara vita amissa est? 
      a(href='http://loripsum.net/', target='_blank') Tum ille: Ain tandem?
      |  Omnes enim iucundum motum, quo sensus hilaretur. 
      i Utram tandem linguam nescio?
      |  Quid, quod res alia tota est? Modo etiam paulum ad dexteram de via declinavi, ut ad Pericli sepulcrum accederem. Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. Tibi hoc incredibile, quod beatissimum. Quem si tenueris, non modo meum Ciceronem, sed etiam me ipsum abducas licebit.
    ul
      li
        | Nam diligi et carum esse iucundum est propterea, quia tutiorem vitam et voluptatem pleniorem efficit.
      li
        | Sed tu, ut dignum est tua erga me et philosophiam voluntate ab adolescentulo suscepta, fac ut Metrodori tueare liberos.
