body{margin:5% auto;background-color:#f2f2f2;color:#444;font-family:system-ui,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;font-size:16px;line-height:1.8;text-shadow:0 1px 0 #fff;max-width:75%}body ::-moz-selection{background-color:#ddd;text-shadow:none}body ::selection{background-color:#ddd;text-shadow:none}code{background-color:#fff}code::-moz-selection{background-color:#ededed}code::selection{background-color:#ededed}a{border-bottom:1px solid #444;color:#444;text-decoration:none}a:hover{border-bottom:0}
/*# sourceMappingURL=min.css.map */
